<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Favorite Movies</title>
</head>
<body>
    <h1>My Favorite Movies</h1>
    <a href="{{ url_for('add') }}">Tambah Film</a>
    <ul>
        {% for m in movies %}
        <li>{{ m.id }} - {{ m.title }} oleh {{ m.director }} Rating: {{ "%.1f"|format(m.rating) }}/10</li>
        {% else %}
        <li>Tidak ada film</li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for cat, msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
